name: Sonar Scanner -1

on:
  push:
    branches: [ SonarScanner ]
    tags: 
      - "v*"
  pull_request:
    branches: [ SonarScanner ]

jobs:
  sonar_scanner:
    name: Create Release from code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Setup sonar scanner
        uses: warchant/setup-sonar-scanner@v1
      # Another existing action, this one to checkout the repository
      - name: 'Checkout repository on branch: ${{ github.REF }}'
        uses: actions/checkout@v1
        with:
          ref: ${{ github.REF }}
          fetch-depth: 0
      - run: dotnet tool install --global dotnet-sonarscanner --version 4.8.0
     
     # Conditional execution can be done, in this case the parameter to use with sonar scanner are different if we are analyzing master or a branch
#       - if: endsWith(github.REF, '/master') != true
#         name: 'Run an analysis of the ${{ github.REF }} branch'
#         env:
#           # to get access to secrets.SONAR_TOKEN, provide GITHUB_TOKEN
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         run: sonar-scanner
#           -Dsonar.host.url=${{ secrets.SONAR_URL }}
#           -Dsonar.login=${{ secrets.SONAR_TOKEN }}
#           -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
#           -Dsonar.branch.name=${GITHUB_REF:11}
#           -Dsonar.scm.provider=git
 
